@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Raleway:wght@400;700&display=swap");

$white: #ffffff;
$black: #242824;
$green-dark: #087535;
$green-light: #d7fadb;
$button-text-color: #05421e;
$gray: #98afba;
$transparent25: rgba(0, 0, 0, 0.25);
$transparent75: rgba(0, 0, 0, 0.75);
$transparent85: rgba(0, 0, 0, 0.85);
$transparent90: rgba(0, 0, 0, 0.9);
$transparent95: rgba(0, 0, 0, 0.95);
$title-font: "Bitter", serif;
$body-font: "Raleway", sans-serif;
$text48: 48px;
$text36: 36px;
$text32: 32px;
$text24: 24px;
$text20: 20px;
$text16: 16px;
$text14: 14px;
$bold: 700;

$breakpoint1: 1280px;
$breakpoint2: 768px;

@mixin action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $text16;
    font-family: $body-font;
    background-color: $white;
    color: $button-text-color;
    font-weight: $bold;
    padding: 16px 30px;
    @include transition;
    @media (max-width: $breakpoint1) {
        font-size: $text14;
        padding: 12px 20px;
    }
    &:hover {
        background-color: $green-dark;
        color: $white;
    }
}

@mixin box-frame($color) {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        transform: rotate(6deg);
        border: 1px solid $color;
        @media (max-width: $breakpoint2) {
        }
    }
}

@mixin green-text-strip($width, $leftOffset) {
    position: relative;
    z-index: 0;
    &::before {
        content: "";
        position: absolute;
        left: $leftOffset;
        height: 26px;
        background: $green-dark;
        z-index: -1;
        bottom: -14%;
        width: $width;
    }
}

@mixin frames-around-number {
    position: relative;
    z-index: 0;
    &::before,
    &::after {
        width: 35px;
        height: 35px;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        border: 2px solid;
    }
    &::before {
        z-index: -2;
        border-color: $green-dark;
        transform: translate(-50%, -50%) rotate(60deg);
    }
    &::after {
        z-index: -1;
        border-color: $white;
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

@mixin transition {
    transition: all 0.3s ease-out;
}

@mixin scale-on-hover {
    @include transition;
    transition-delay: 0.1s;
    &:hover {
        transform: scale(1.1);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    // scroll-behavior: smooth;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: 1;
}

button {
    background: none;
    border: none;
    &:hover {
        cursor: pointer;
    }
}

input {
    border: none;
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}

li {
    list-style: none;
}

svg {
    height: auto;
}

.b {
    border: 2px red solid;
}
// ymaps hide copyright section
[class*="copyrights-pane"] {
    display: none !important;
}

.container {
    max-width: 1090px;
    margin: 0 auto;
    @media (max-width: $breakpoint1) {
        width: auto;
    }
}

.section-title {
    font-size: $text36;
    font-weight: $bold;
    position: relative;
    width: max-content;
    @media (max-width: $breakpoint1) {
        font-size: $text32;
        width: fit-content;
        margin: 0 auto;
        text-align: center;
    }
    @media (max-width: $breakpoint2) {
        font-size: $text24;
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -12px;
        z-index: -1;
        width: 100%;
        height: 8px;
        background: $green-dark;
    }
}

.introduction {
    color: $white;
    position: relative;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        z-index: -2;
        background-image: linear-gradient($transparent75, $transparent75),
            url("./assets/images/top-section-bg.png");
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    border-bottom: 1px solid $white;
    font-family: $body-font;
    font-weight: $bold;
    @media (max-width: $breakpoint2) {
        padding: 8px 0;
        row-gap: 5px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "logo  phone phone"
            "anchors anchors anchors";
        margin: 0 15px;
    }
    .logo {
        display: flex;
        align-items: center;
        gap: 21px;
        grid-area: logo;
        @media (max-width: $breakpoint1) {
            gap: 12px;
            justify-self: start;
        }
        & img {
            width: 70px;
            height: auto;
            @media (max-width: $breakpoint2) {
                width: 50px;
            }
        }
    }
    .anchors {
        display: flex;
        justify-content: center;
        gap: 65px;
        grid-area: anchors;
        @media (max-width: $breakpoint1) {
            gap: 45px;
            justify-items: center;
        }
        li a {
            @include scale-on-hover;
            display: block;
            padding: 5px 8px;
        }
    }
    .phone {
        grid-area: phone;
        @media (max-width: $breakpoint1) {
            justify-self: end;
        }
        a {
            font-family: $title-font;
        }
    }
}

.profile {
    padding: 76px 0;
    display: flex;
    flex-direction: column;
    @media (max-width: $breakpoint1) {
        padding: 40px 30px;
        margin: 0 auto;
    }
    @media (max-width: $breakpoint2) {
        padding: 40px 15px;
    }
    .advocate-info {
        display: flex;
        justify-content: space-between;
        @media (max-width: $breakpoint2) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas:
                "description"
                "photo"
                "get-consultation-mobile";
            margin: 0 auto;
        }
    }
    article {
        flex-shrink: 0;
        width: 40%;
        font-weight: $bold;
        grid-area: description;
        @media (max-width: $breakpoint2) {
            margin-left: 20px;
            width: 100%;
        }
        h1 {
            font-family: $title-font;
            font-size: $text32;
            @media (max-width: $breakpoint1) {
                font-size: $text24;
            }
            span {
                @include green-text-strip(114%, 0);
                display: inline-block;
                font-size: $text48;
                margin-bottom: 20px;
                @media (max-width: $breakpoint1) {
                    font-size: $text36;
                }
            }
        }
        p {
            width: fit-content;
            margin-top: 28px;
            font-size: $text16;
            font-family: $body-font;
            line-height: 1.5;
            @media (max-width: $breakpoint1) {
                font-size: $text14;
            }
        }
        a {
            @media (max-width: $breakpoint2) {
                display: none;
            }
        }
        button {
            @include action-button;
            margin-top: 60px;
            @media (max-width: $breakpoint1) {
                margin-top: 50px;
            }
        }
    }
    .mobile-btn-get-consultation {
        display: none;
        grid-area: get-consultation-mobile;
        @media (max-width: $breakpoint2) {
            display: block;
            button {
                @include action-button;
                margin: 60px auto 0 auto;
                width: 250px;
            }
        }
    }

    .advocate-photo {
        @include box-frame($white);
        margin: 0 26px;
        height: fit-content;
        grid-area: photo;
        @media (max-width: $breakpoint1) {
            width: fit-content;
        }
        @media (max-width: $breakpoint2) {
            margin-top: 40px;
        }
        & img {
            max-width: 494px;
            height: auto;
            object-fit: cover;
            border-radius: 5px;
            @media (max-width: $breakpoint1) {
                max-width: 100%;
            }
        }
    }
    .profile-contacts {
        margin-top: 70px;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        &::before,
        &::after {
            content: "";
            display: block;
            transform: translateY(-50%);
            border-bottom: 1px solid $white;
        }
        &::before {
            min-width: 70%;
            @media (max-width: $breakpoint2) {
                min-width: 50%;
            }
        }
        &::after {
            width: 100%;
        }
        @media (max-width: $breakpoint2) {
            margin-top: 50px;
        }
        .profile-links {
            width: fit-content;
            padding: 0 50px;
            display: flex;
            gap: 24px;
            @media (max-width: $breakpoint1) {
                gap: 18px;
                padding: 0 25px;
            }
            & svg {
                @include transition;
                width: 26px;
                color: $white;
                @media (max-width: $breakpoint1) {
                    width: 22px;
                }
                &:hover {
                    color: $gray;
                }
            }
        }
    }
}

.services {
    display: flex;
    flex-direction: column;
    padding: 59px 0 72px;
    position: relative;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 60%;
        z-index: -3;
        background-image: linear-gradient($transparent75, $transparent75),
            url("./assets/images/top-section-bg.png");
    }
    @media (max-width: $breakpoint1) {
        margin: 0 auto;
    }
    h2 {
        margin-bottom: 93px;
        font-size: $text36;
        @media (max-width: $breakpoint2) {
            margin-bottom: 65px;
            font-size: $text24;
        }
    }
    @media (max-width: $breakpoint2) {
        padding: 29px 0 42px;
    }
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 110px 85px;
    @media (max-width: $breakpoint2) {
        gap: 50px 0;
    }
}

.category-card {
    @include box-frame($green-dark);
    background: $white;
    width: 462px;
    min-height: 328px;
    box-shadow: 0px 4px 8px $transparent25;
    padding: 18px 34px 35px 54px;
    @media (max-width: $breakpoint2) {
        width: 300px;
        margin: 0 30px;
    }
    h3 {
        font-size: $text24;
        font-weight: $bold;
        font-family: $title-font;
        width: max-content;
        text-align: center;
        margin: 0 auto;
        line-height: 1.2;
        letter-spacing: 0.04em;
        @media (max-width: $breakpoint2) {
            font-size: $text16;
        }
    }
    ul {
        margin-top: 18px;
        li + li {
            margin-top: 10px;
        }
        li {
            position: relative;
            font-size: $text20;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -24px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $green-dark;
            }
            @media (max-width: $breakpoint2) {
                font-size: $text14;
            }
        }
    }
}

.consultation {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    color: $white;
    background: linear-gradient($transparent75, $transparent75),
        url("./assets/images/consultation-seation-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    h2 {
        text-align: center;
        font-size: $text36;
        font-family: $title-font;
        margin-bottom: 45px;
        @media (max-width: $breakpoint1) {
            font-size: $text32;
        }
        @media (max-width: $breakpoint2) {
            width: 80%;
            margin: 0 auto;
        }
        span {
            display: inline-block;
            @include green-text-strip(105%, 10%);
        }
    }
}

.consultation-body {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: $breakpoint1) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "mockup"
            "info";
        width: fit-content;
        margin: 0 auto;
    }
    @media (max-width: $breakpoint2) {
        padding: 0 20px 30px 20px;
        margin-top: 30px;
    }
}

.consultation-info {
    margin-left: 50px;
    grid-area: info;
    h3 {
        font-size: $text24;
        font-weight: $bold;
        font-family: $title-font;
        line-height: 1.5;
        letter-spacing: 0.08rem;
        @media (max-width: $breakpoint2) {
            margin: 0 auto;
            width: fit-content;
        }
    }
    @media (max-width: $breakpoint1) {
        margin-left: 0;
    }
    .consultation-list {
        margin-top: 37px;
        margin-left: 22px;
        display: grid;
        grid-template-columns: repeat(2, 300px);
        column-gap: 44px;
        width: fit-content;
        @media (max-width: $breakpoint1) {
            grid-template-columns: repeat(2, minmax(1fr, 350px));
        }
        @media (max-width: $breakpoint2) {
            margin-top: 45px;
            grid-template-columns: 1fr;
        }
        ul {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            row-gap: 66px;
            @media (max-width: $breakpoint2) {
                padding: 0 20px;
            }
        }
        ul + ul {
            @media (max-width: $breakpoint2) {
                margin-top: 64px;
            }
        }
        li {
            font-size: $text14;
            font-family: $body-font;
            font-weight: $bold;
            display: flex;
            align-items: center;
        }
        span {
            display: inline-block;
            font-size: $text16;
            font-family: $title-font;
            margin-right: 33px;
            @include frames-around-number;
        }
    }
    button {
        @include action-button;
        margin-top: 70px;
        @media (max-width: $breakpoint1) {
            margin: 72px auto;
        }
    }
}

.mockup {
    position: relative;
    grid-area: mockup;
    img {
        width: 324px;
        height: auto;
        @media (max-width: $breakpoint2) {
            width: 90%;
        }
    }
    @media (max-width: $breakpoint1) {
        justify-self: center;
    }
    @media (max-width: $breakpoint2) {
        display: flex;
        justify-content: center;
    }
}

.consultation-price {
    position: absolute;
    background: $white;
    right: -45px;
    bottom: 105px;
    font-weight: $bold;
    font-family: $body-font;
    border: 1px solid $green-dark;
    text-align: center;
    padding: 18px 21px;
    z-index: 0;
    &::before {
        content: "";
        position: absolute;
        left: -4px;
        top: -4px;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: $green-dark;
    }
    p {
        font-size: $text14;
        span {
            font-size: $text24;
            @media (max-width: $breakpoint2) {
                font-size: $text20;
            }
        }
    }
    @media (max-width: $breakpoint2) {
        right: 5px;
        bottom: 105px;
    }
}

.cases {
    padding: 30px 0;
    position: relative;
    h2 {
        margin-top: 60px;
        font-size: $text36;
        @media (max-width: $breakpoint2) {
            font-size: $text24;
            margin-top: 0px;
        }
    }
    overflow: hidden;
    .cases-swiper {
        margin-top: 75px;
        overflow: visible;
        overflow: hidden;
        @media (max-width: $breakpoint2) {
            margin-top: 40px;
        }
        .swiper-wrapper {
            overflow: visible;
            padding-top: 16px;
        }
        .swiper-slide {
            article {
                width: 90%;
                margin: 0 auto;
                transform: translateX(10px);
                cursor: pointer;
                color: $black;
                font-family: $body-font;
                padding: 0 35px 35px 10px;
                position: relative;
                z-index: 100;
                overflow: visible;
                background: $green-dark;
                user-select: none;
                touch-action: auto;
                &::before {
                    position: absolute;
                    content: "";
                    z-index: -100;
                    width: 100%;
                    height: 100%;
                    border: 1px solid $green-dark;
                    background: $white;
                    top: -15px;
                    left: -15px;
                }
                h4 {
                    font-size: $text20;
                    font-weight: $bold;
                    text-align: center;
                    line-height: 1.5;
                }
                p {
                    margin-top: 31px;
                    line-height: 1.5;
                    font-size: $text16;
                    @media (max-width: $breakpoint2) {
                        margin-top: 20px;
                    }
                }
                footer {
                    margin-top: 13px;
                    text-align: end;
                    a span {
                        display: inline-block;
                        margin-right: 12px;
                    }
                }
            }
        }
    }
    .swiper-cases-buttons {
        margin-top: 30px;
        button {
            @include scale-on-hover;
            display: block;
        }
        .prev-case-button {
            position: absolute;
            left: 0;
            padding: 5px;
        }
        .next-case-button {
            position: absolute;
            right: 0;
            padding: 5px;
        }
    }
}

.certificates {
    margin: 60px 0;
    padding: 30px 0;
    @media (max-width: $breakpoint1) {
        margin: 50px 0;
    }
    @media (max-width: $breakpoint2) {
        margin: 0;
        padding: 22px 0;
    }
    .certificates-swiper {
        overflow: hidden;
        position: relative;
        padding: 10px 20px;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            height: 80%;
        }
        &::before {
            transform: translate(-50%, -50%) rotate(177deg);
            width: 50%;
            background: $green-light;
            @media (max-width: $breakpoint2) {
                width: 85%;
            }
        }
        &::after {
            transform: translate(-50%, -50%) rotate(2deg);
            width: 55%;
            border: 2px solid $green-dark;
            @media (max-width: $breakpoint2) {
                width: 85%;
            }
        }
    }
    .swiper-slide {
        display: flex;
        justify-content: center;
        width: auto;
        & img {
            border: 2px solid $black;
            width: 240px;
        }
    }
    .swiper-buttons {
        width: 100%;
        display: flex;
        margin-top: 30px;
        justify-content: space-between;
        padding: 0 42px;
        button {
            @include scale-on-hover;
            padding: 8px 5px;
        }
        @media (max-width: $breakpoint2) {
            padding: 0 5px;
        }
    }
}

.location {
    background: $black;
    font-weight: $bold;
    color: $white;
    display: flex;
    flex-direction: column;
    padding: 59px 120px 95px;
    @media (max-width: $breakpoint1) {
        padding: 30px;
    }
    @media (max-width: $breakpoint2) {
        padding: 30px 10px;
    }
    h2 {
        font-family: $title-font;
        font-size: $text36;
        margin-bottom: 42px;
        span {
            @include green-text-strip(100%, 10%);
        }
        @media (max-width: $breakpoint2) {
            width: fit-content;
            font-size: $text24;
            margin: 0 auto 30px auto;
        }
    }
}

.location-info {
    width: 100%;
    border: 6px solid $green-dark;
    @media (max-width: $breakpoint1) {
        margin: 0 auto;
    }
    .location-contacts {
        font-size: $text16;
        font-family: $body-font;
        font-weight: $bold;
        padding: 30px 47px;
        display: flex;
        gap: 30px;
        @media (max-width: $breakpoint2) {
            flex-direction: column;
        }
        > div {
            width: 50%;
            @media (max-width: $breakpoint2) {
                width: 100%;
            }
        }
        .location-working-mode {
            display: flex;
            flex-direction: column;
            span {
                line-height: 1.2;
                display: inline-block;
            }
            span + span {
                margin-top: 26px;
            }
        }
    }
}

.footer {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    @media (max-width: $breakpoint1) {
        flex-direction: column;
        align-items: center;
    }
    .contact-me {
        display: flex;
        flex-direction: column;
        @media (max-width: $breakpoint1) {
            align-items: center;
            margin: 0 auto;
        }
        @media (max-width: $breakpoint2) {
            margin: 0 15px;
        }
        h4 {
            margin-top: 44px;
            font-size: $text24;
            font-family: $title-font;
            position: relative;
            line-height: 1.5;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background: $green-dark;
            }
            @media (max-width: $breakpoint2) {
                font-size: $text16;
                padding: 0 20px;
                width: 80%;
                text-align: center;
            }
        }
        > button,
        > p {
            display: inline-block;
            font-size: $text16;
            font-family: $body-font;
            font-weight: $bold;
            margin-top: 34px;
            @media (max-width: $breakpoint2) {
                margin-top: 14px;
                text-align: center;
            }
        }
        .messengers {
            margin-top: 30px;
            a {
                display: inline-block;
                padding: 5px;
                margin-right: 10px;
            }
        }
    }
    form {
        border: 2px solid $green-dark;
        width: 442px;
        padding: 52px 37px;
        display: flex;
        flex-direction: column;
        @media (max-width: $breakpoint1) {
            margin: 30px auto 0 auto;
            width: auto;
        }
        @media (max-width: $breakpoint2) {
            margin: 30px 15px 0 15px;
            padding: 22px 27px;
        }
        h4 {
            font-family: $title-font;
            font-size: $text24;
            font-weight: $bold;
            line-height: 1.5;
            text-align: center;
            margin-bottom: 34px;
            @media (max-width: $breakpoint2) {
                font-size: $text16;
            }
        }
        input {
            font-size: $text20;
            height: 52px;
            width: 100%;
            border-bottom: 1px solid $black;
            border-radius: 0;
            @media (max-width: $breakpoint2) {
                height: 42px;
                font-size: $text14;
            }
        }
        input + input {
            margin-top: 44px;
        }
        .policy-comment {
            margin-top: 40px;
            line-height: 1.2;
            font-size: $text14;
            text-align: justify;
            a {
                text-decoration: underline;
            }
        }
        button {
            margin-top: 20px;
            padding: 16px 40px;
            background: $green-light;
            font-size: $text16;
            font-weight: $bold;
            font-family: $body-font;
            @include transition;
            &:hover {
                background: $green-dark;
                color: $white;
            }
        }
    }
}

.docs {
    height: 90px;
    width: 100%;
    background: $black;
    color: $white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .policy-anchor {
        font-family: $title-font;
        font-size: $text14;
        padding: 15px;
        font-weight: 400;
    }
    .scoll-top-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        padding: 10px 15px;
        margin-right: 3%;
    }
}

.modal-with-case {
    display: none;
    align-items: center;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    background: rgba(36, 40, 36, 0.5);
    backdrop-filter: blur(10px);
    overflow-y: auto;
    opacity: 0;
    @include transition;
    .modal-body {
        margin-top: 5%;
        width: 60%;
        position: relative;
        @media (max-width: $breakpoint1) {
            width: 80%;
        }
    }
    .modal-body-bg {
        position: absolute;
        content: "";
        top: 15px;
        left: 15px;
        width: 100%;
        height: 100%;
        background: $green-dark;
        @media (max-width: $breakpoint2) {
            top: 6px;
            left: 6px;
        }
    }
    .modal-content {
        padding: 76px 52px;
        background: $white;
        border: 2px solid $green-dark;
        position: relative;
        z-index: 100;
        @media (max-width: $breakpoint2) {
            padding: 20px 15px;
        }
        .close-modal-btn {
            position: absolute;
            right: 0;
            top: 0;
            padding: 15px;
            @media (max-width: $breakpoint2) {
                padding: 7px;
            }
        }
        h4 {
            margin-top: 12px;
            text-align: center;
            font-size: $text24;
            font-weight: $bold;
            line-height: 1.5;
            @media (max-width: $breakpoint2) {
                font-size: $text16;
            }
        }
        p {
            margin-top: 53px;
            font-size: $text20;
            line-height: 1.5;
            text-align: justify;
            @media (max-width: $breakpoint2) {
                margin-top: 18px;
                font-size: $text14;
            }
        }
    }
    .modal-prev-slide,
    .modal-next-slide {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 6% 2%;
        @include transition;
        &:hover {
            transform: translateY(-50%) scale(1.1);
        }
        @media (max-width: $breakpoint2) {
            font-size: $text16;
            touch-action: none;
        }
        svg {
            height: 80px;
            @media (max-width: $breakpoint2) {
                height: 60px;
            }
        }
    }
    .modal-prev-slide {
        left: 0;
    }
    .modal-next-slide {
        right: 0;
    }
}
