@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Raleway:wght@400;700&display=swap");

$white: #ffffff;
$black: #242824;
$transparent75: rgba(0, 0, 0, 0.75);
$transparent25: rgba(0, 0, 0, 0.25);
$title-font: "Bitter", serif;
$body-font: "Raleway", sans-serif;
$text48: 48px;
$text36: 36px;
$text32: 32px;
$text24: 24px;
$text16: 16px;
$text14: 14px;
$bold: 700;
$green-dark: #087535;
$green-light: #d7fadb;
$button-text-color: #05421e;

@mixin action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $text16;
    font-family: $body-font;
    background-color: $white;
    color: $button-text-color;
    font-weight: $bold;
    padding: 16px 30px;
}

@mixin box-frame($color) {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        transform: rotate(6deg);
        border: 1px solid $color;
    }
}

@mixin text-strip($leftOffset) {
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: 1;
}
button {
    background: none;
    border: none;
    &:hover {
        cursor: pointer;
    }
}
input {
    border: none;
    outline: none;
}
a {
    color: inherit;
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}
li {
    list-style: none;
}
svg {
    height: auto;
}

.b {
    border: 2px red solid;
}

.container {
    max-width: 1090px;
    margin: 0 auto;
}

.section-title {
    font-size: $text36;
    font-weight: $bold;
    position: relative;
    width: max-content;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -12px;
        z-index: -1;
        width: 100%;
        height: 8px;
        background: $green-dark;
    }
}

.introduction {
    color: $white;
    height: 95vh;
    position: relative;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        z-index: -2;
        background-image: linear-gradient($transparent75, $transparent75),
            url("./assets/top-section-bg.png");
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
    }
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0;
    border-bottom: 1px solid $white;
    font-family: $body-font;
    font-weight: $bold;
    .logo {
        display: flex;
        align-items: center;
        gap: 61px;
        & img {
            max-width: 40px;
            border-radius: 30%;
            box-sizing: content-box;
        }
    }
    .anchors {
        display: flex;
        gap: 65px;
    }
    .phone a {
        font-family: $title-font;
    }
}
.profile {
    padding: 76px 0;
    .advocate-info {
        display: flex;
        justify-content: space-between;
    }
    article {
        font-weight: $bold;
        h1 {
            font-family: $title-font;
            font-size: $text32;
            span {
                display: inline-block;
                font-size: $text48;
                margin-bottom: 20px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -14%;
                    left: 0;
                    z-index: -1;
                    width: 114%;
                    height: 26px;
                    background: $green-dark;
                }
            }
        }
        p {
            width: fit-content;
            margin-top: 28px;
            font-size: $text16;
            font-family: $body-font;
            line-height: 1.5;
        }
        button {
            @include action-button;
            margin-top: 60px;
        }
    }
    .advocate-photo {
        @include box-frame($white);
        margin: 0 26px;
        height: fit-content;
        & img {
            max-width: 494px;
            height: auto;
            vertical-align: top;
        }
    }
    .profile-contacts {
        margin-top: 70px;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        &::before,
        &::after {
            content: "";
            display: block;
            transform: translateY(-50%);
            border-bottom: 1px solid $white;
        }
        &::before {
            min-width: 70%;
        }
        &::after {
            width: 100%;
        }
        .profile-links {
            width: fit-content;
            padding: 0 50px;
            display: flex;
            gap: 24px;
            & svg {
                width: 26px;
            }
        }
    }
}
.services {
    margin-top: 59px;
    margin-bottom: 72px;
    position: relative;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 60%;
        z-index: -3;
        background-image: linear-gradient($transparent75, $transparent75),
            url("./assets/top-section-bg.png");
    }
}
.categories {
    margin-top: 93px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 110px 85px;
}
.category-card {
    @include box-frame($green-dark);
    background: $white;
    width: 462px;
    min-height: 328px;
    box-shadow: 0px 4px 8px $transparent25;
    padding: 18px 34px 35px;
    h3 {
        font-size: $text24;
        font-family: 700;
        font-family: $title-font;
        width: max-content;
        text-align: center;
        margin: 0 auto;
        line-height: 1.2;
        letter-spacing: 0.04em;
    }
    ul {
        margin-top: 18px;
        li + li {
            margin-top: 10px;
        }
        li {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -22px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $green-dark;
            }
        }
    }
}
.consultation {
    padding-top: 60px;
    color: $white;
    background: $black;
    h2 {
        text-align: center;
        font-size: $text36;
        font-family: $title-font;
        margin-bottom: 45px;
        span {
            color: red;
        }
    }
}
.consultation-list {
    h3 {
        font-size: $text24;
        font-weight: $bold;
        font-family: $title-font;
    }
}
