@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Raleway:wght@400;700&display=swap");

$white: #ffffff;
$black: #242824;
$transparent25: rgba(0, 0, 0, 0.25);
$transparent75: rgba(0, 0, 0, 0.75);
$transparent85: rgba(0, 0, 0, 0.85);
$transparent90: rgba(0, 0, 0, 0.9);
$transparent95: rgba(0, 0, 0, 0.95);
$title-font: "Bitter", serif;
$body-font: "Raleway", sans-serif;
$text48: 48px;
$text36: 36px;
$text32: 32px;
$text24: 24px;
$text20: 20px;
$text16: 16px;
$text14: 14px;
$bold: 700;
$green-dark: #087535;
$green-light: #d7fadb;
$button-text-color: #05421e;

@mixin action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $text16;
    font-family: $body-font;
    background-color: $white;
    color: $button-text-color;
    font-weight: $bold;
    padding: 16px 30px;
}

@mixin box-frame($color) {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        transform: rotate(6deg);
        border: 1px solid $color;
    }
}

@mixin green-text-strip($width, $leftOffset) {
    position: relative;
    z-index: 0;
    &::before {
        content: "";
        position: absolute;
        left: $leftOffset;
        height: 26px;
        background: $green-dark;
        z-index: -1;
        bottom: -14%;
        width: $width;
    }
}

@mixin frames-around-number {
    position: relative;
    z-index: 0;
    &::before,
    &::after {
        width: 35px;
        height: 35px;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        border: 2px solid;
    }
    &::before {
        z-index: -2;
        border-color: $green-dark;
        transform: translate(-50%, -50%) rotate(60deg);
    }
    &::after {
        z-index: -1;
        border-color: $white;
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    // scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: 1;
}
button {
    background: none;
    border: none;
    &:hover {
        cursor: pointer;
    }
}
input {
    border: none;
    outline: none;
}
a {
    color: inherit;
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}
li {
    list-style: none;
}
svg {
    height: auto;
}

.b {
    border: 2px red solid;
}
// ymaps hide copyright section
[class*="copyrights-pane"] {
    display: none !important;
}

.container {
    max-width: 1090px;
    margin: 0 auto;
}

.section-title {
    font-size: $text36;
    font-weight: $bold;
    position: relative;
    width: max-content;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -12px;
        z-index: -1;
        width: 100%;
        height: 8px;
        background: $green-dark;
    }
}

.introduction {
    color: $white;
    position: relative;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        z-index: -2;
        background-image: linear-gradient($transparent75, $transparent75), url("./assets/images/top-section-bg.png");
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0;
    border-bottom: 1px solid $white;
    font-family: $body-font;
    font-weight: $bold;
    .logo {
        display: flex;
        align-items: center;
        gap: 61px;
        & img {
            max-width: 40px;
            border-radius: 30%;
            box-sizing: content-box;
        }
    }
    .anchors {
        display: flex;
        gap: 65px;
    }
    .phone a {
        font-family: $title-font;
    }
}

.profile {
    padding: 76px 0;
    display: flex;
    flex-direction: column;
    .advocate-info {
        display: flex;
        justify-content: space-between;
    }
    article {
        font-weight: $bold;
        h1 {
            font-family: $title-font;
            font-size: $text32;
            span {
                display: inline-block;
                font-size: $text48;
                margin-bottom: 20px;
                @include green-text-strip(114%, 0);
            }
        }
        p {
            width: fit-content;
            margin-top: 28px;
            font-size: $text16;
            font-family: $body-font;
            line-height: 1.5;
        }
        button {
            @include action-button;
            margin-top: 60px;
        }
    }
    .advocate-photo {
        @include box-frame($white);
        margin: 0 26px;
        height: fit-content;
        & img {
            max-width: 494px;
            height: auto;
            vertical-align: top;
        }
    }
    .profile-contacts {
        margin-top: 70px;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        &::before,
        &::after {
            content: "";
            display: block;
            transform: translateY(-50%);
            border-bottom: 1px solid $white;
        }
        &::before {
            min-width: 70%;
        }
        &::after {
            width: 100%;
        }
        .profile-links {
            width: fit-content;
            padding: 0 50px;
            display: flex;
            gap: 24px;
            & svg {
                width: 26px;
            }
        }
    }
}

.services {
    display: flex;
    flex-direction: column;
    padding: 59px 0 72px;
    position: relative;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 60%;
        z-index: -3;
        background-image: linear-gradient($transparent75, $transparent75), url("./assets/images/top-section-bg.png");
    }
    h2 {
        margin-bottom: 93px;
    }
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 110px 85px;
}

.category-card {
    @include box-frame($green-dark);
    background: $white;
    width: 462px;
    min-height: 328px;
    box-shadow: 0px 4px 8px $transparent25;
    padding: 18px 34px 35px 54px;
    h3 {
        font-size: $text24;
        font-weight: $bold;
        font-family: $title-font;
        width: max-content;
        text-align: center;
        margin: 0 auto;
        line-height: 1.2;
        letter-spacing: 0.04em;
    }
    ul {
        margin-top: 18px;
        li + li {
            margin-top: 10px;
        }
        li {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -24px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $green-dark;
            }
        }
    }
}

.consultation {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    color: $white;
    background: $black;
    background-repeat: no-repeat;
    background-size: cover;
    h2 {
        text-align: center;
        font-size: $text36;
        font-family: $title-font;
        margin-bottom: 45px;
        span {
            display: inline-block;
            @include green-text-strip(105%, 10%);
        }
    }
}

.consultation-body {
    display: flex;
    position: relative;
}

.consultation-info {
    margin-left: 50px;
    h3 {
        font-size: $text24;
        font-weight: $bold;
        font-family: $title-font;
        line-height: 1.5;
        letter-spacing: 0.08rem;
    }
    .consultation-list {
        margin-top: 37px;
        margin-left: 22px;
        display: grid;
        grid-template-columns: repeat(2, 300px);
        column-gap: 44px;
        width: fit-content;
        ul {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            row-gap: 66px;
        }
        li {
            font-size: $text14;
            font-family: $body-font;
            font-weight: $bold;
            display: flex;
            align-items: center;
        }
        span {
            display: inline-block;
            font-size: $text16;
            font-family: $title-font;
            margin-right: 33px;
            @include frames-around-number;
        }
    }
    button {
        @include action-button;
        margin-top: 70px;
    }
}

.mockup {
    img {
        width: 294px;
        height: auto;
    }
}

.consultation-price {
    position: absolute;
    background: $white;
    right: -45px;
    bottom: 105px;
    font-weight: $bold;
    font-family: $body-font;
    border: 1px solid $green-dark;
    text-align: center;
    padding: 18px 21px;
    z-index: 0;
    &::before {
        content: "";
        position: absolute;
        left: -4px;
        top: -4px;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: $green-dark;
    }
    p {
        font-size: $text14;
        span {
            font-size: $text24;
        }
    }
}

.cases {
    h2 {
        margin-top: 60px;
    }
}

.certificates {
    margin: 70px 0;
    padding: 40px 0;
    position: relative;
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
    }
    &::before {
        transform: translate(-50%, -50%) rotate(177deg);
        width: 50%;
        background: $green-light;
    }
    &::after {
        transform: translate(-50%, -50%) rotate(2deg);
        width: 55%;
        border: 2px solid $green-dark;
    }
    .swiper-slide {
        display: flex;
        justify-content: center;
        width: auto;
        & img {
            width: 240px;
        }
    }
    .swiper-buttons {
        width: 100%;
        position: absolute;
        bottom: -30px;
        display: flex;
        justify-content: space-between;
        padding: 0 42px;
    }
}

.location {
    background: $black;
    font-weight: $bold;
    color: $white;
    display: flex;
    flex-direction: column;
    padding: 59px 0 95px;
    h2 {
        font-family: $title-font;
        font-size: $text36;
        margin-bottom: 42px;
        span {
            @include green-text-strip(100%, 10%);
        }
    }
}

.location-info {
    border: 6px solid $green-dark;
    .location-contacts {
        font-size: $text16;
        font-family: $body-font;
        font-weight: $bold;
        padding: 30px 47px;
        display: flex;
        > div {
            width: 50%;
        }
        .location-working-mode {
            display: flex;
            flex-direction: column;
            span {
                line-height: 1.2;
                display: inline-block;
            }
            span + span {
                margin-top: 26px;
            }
        }
    }
}

.footer {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    .contact-me {
        display: flex;
        flex-direction: column;
        h4 {
            margin-top: 44px;
            font-size: $text24;
            font-family: $title-font;
            position: relative;
            line-height: 1.5;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background: $green-dark;
            }
        }
        > a,
        > p {
            display: inline-block;
            font-size: $text16;
            font-family: $body-font;
            font-weight: $bold;
            margin-top: 34px;
        }
        .messengers {
            margin-top: 30px;
            a {
                display: inline-block;
                padding: 5px;
                margin-right: 10px;
            }
        }
    }
    form {
        border: 2px solid $green-dark;
        width: 442px;
        padding: 52px 37px;
        display: flex;
        flex-direction: column;
        h4 {
            font-family: $title-font;
            font-size: $text24;
            font-weight: $bold;
            line-height: 1.5;
            text-align: center;
            margin-bottom: 34px;
        }
        input {
            font-size: $text20;
            height: 52px;
            width: 100%;
            border-bottom: 1px solid $black;
        }
        input + input {
            margin-top: 44px;
        }
        button {
            margin-top: 70px;
            padding: 16px 40px;
            background: $green-light;
            font-size: $text16;
            font-weight: $bold;
            font-family: $body-font;
        }
    }
}

.docs {
    height: 90px;
    width: 100%;
    background: $black;
}
